/* filepath: c:\Users\Yash\OneDrive\Desktop\stockx_scraper\web-scraping-app\frontend\src\index.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}